/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    border: 0px none white;
    box-sizing: border-box;
}

/* General styles */
body {
    background-color: rgb(204, 255, 255);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
}

/* H1 logo which functions as link back to home page in nav */
#logo {
    font-family: 'BioRhyme', serif;
    letter-spacing: 2px;
}

/* header styles - header is positioned to always be visible */
header {
    background-color: white;
    position: fixed;
    padding: 0 1rem 0;
    z-index: 10;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    list-style-type: none;
    text-align: left;
}

#menu li {
    letter-spacing: 2px;
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* navbar styles with drop-down toggle */
nav {
    position: absolute;
    background-color: white;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    left: 0px;
    padding: 0 0 0 1rem;
    display: none;
    top: 100%;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content section styles */
main {
    /* make the main element take up surplus space in viewport to push the footer element down to the bottom */
    flex: 1 0 auto;
    display: flex;
    margin-top: 50px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 2.5rem;
}

h2.top-of-page {
    padding: 1.5% 0;
    width: 65%;
    text-align: center;
}

/*Homepage main content specific styles */

.homepage-image {
    width: 80%;
    max-width: 700px;
}


.homepage-intro-container {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 1rem;
    padding-bottom: 3.5rem;
}

.homepage-intro-about,
.homepage-intro-media {
    width: 45%;
}

.intro-headings {
    padding: 5% 0 2% 0;
}

.homepage-intro-container p {
    padding: 2.5% 0;
}

.media-quotes {
    font-style: italic;
}

/* Music page main content specific styles */

.streaming-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bones-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.musicpage-bones-image {
    width: 40%;
    padding: 1% 0 1.5% 0;
    max-width: 500px;
    align-self: flex-end;
}

.bones-text-container {
    width: 57%;
    display: flex;
    flex-direction: column;
}

.video-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.music-page-intro-text {
    width: 50%;
    padding: 1% 0;
}

.music-page-content-text {
    align-self: flex-start;
    padding: 1% 0;
}

.soundcloud-embed {
    width: 100%;
    height: 166px;
    border: none;
    overflow: hidden;
}

.youtube-embed {
    width: 40%;
    height: auto;
    min-height: 200px;
    margin: 2.5% 0;
    border: none;
}

/* Tour page main content specific styles */

.tour-main,
.contact-main {
    justify-content: flex-start;
}

#tour-info {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tour-page-content-text {
    padding: 1% 0;
}

.tour-image {
    width: 100%;
    height: auto;
}

.tour-table-container {
    width: 100%;
    overflow-x: auto;
    display: flex;
}

table,
th,
td {
    border: 1px solid black;
}

.tour-table {
    margin: 1.5rem 0;
}

thead {
    background-color: #324B4B;
    color: white;
}

td {
    padding: 0.75rem;
    background-color: #FCFCD4;
}

/* Contact page main content specific styles */

#signup {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#signup-form {
    width: 100%;
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.form-input {
    width: 100%;
    height: 2rem;
    font-size: 1.25rem;
}

.text-area-input {
    width: 100%;
    height: 12rem;
    font-size: 1.25rem;
}

.signup-label {
    height: 2rem;
    font-size: 1.25rem;
}

.submit-button {
    height: 2rem;
    width: 4rem;
}

.contact-image {
    width: 100%;
    height: auto;
}

/* Tour page main content specific styles */

.enquiry-response {
    width: 80%;
    text-align: center;
}

/* Footer styles */
footer {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    letter-spacing: 0.5px;
}

/* styling width of content blocks within footer */
#footer-social-block,
#footer-music-block {
    width: 50%;
}

/*aligning headings in content blocks */
#footer-social-block>h4,
#footer-music-block>h4 {
    text-align: center;
    margin-top: 5%;
}

/*aligning paragraphs in content blocks */
#footer-social-block>p,
#footer-music-block>p {
    text-align: center;
    padding: 0.5rem 0.5rem;
}

footer ul {
    list-style-type: none;
}

#footer-social-icons,
#footer-music-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

#footer-social-icons>li {
    font-size: 150%;
    padding: 5%;
}

#footer-music-icons>li {
    font-size: 150%;
    padding: 5% 2.5%;
}

/* Media query: smallest devices (599 px and below) */
@media screen and (max-width: 599px) {
    /* make bones section readable on smaller devices */

    .bones-container {
        flex-direction: column;
    }

    .bones-text-container {
        flex-direction: column;
        width: 100%;
    }

    .musicpage-bones-image {
        width: 80%;
        max-width: 500px;
        align-self: center;
    }

}



/* Media query: large phones and small tablets (693px and below) */
@media screen and (max-width: 693px) {

    /* Make footer one column on smaller devices */
    footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #footer-social-block,
    #footer-music-block {
        width: 100%;
    }

    .homepage-intro-container {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 1rem;
        padding-bottom: 3.5rem;
    }

    .homepage-intro-about,
    .homepage-intro-media {
        width: 100%;
    }

}


/* Media query: tablets and larger (650px and up) */
@media screen and (min-width: 650px) {

    /* Center the tour info table */
    .tour-table-container {
        justify-content: center;
    }

}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 75px;
    }

    /* footer */

    /*aligning paragraphs in content blocks */
    #footer-social-block>p,
    #footer-music-block>p {
        min-height: 3.5rem;
    }
}

/* Media query: tablet and larger phone devices */
@media screen and (max-width: 889px) {

    /* make sure embedded videos look good on tablet and phone devices */
    .video-content {
        flex-direction: column;
    }

    .youtube-embed {
        width: 80%;
        height: auto;
    }

}


/* Media query: desktop computers and larger (992px and up) */
@media screen and (min-width: 992px) {
    nav a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    /* changing spacing around icons to reflect the increased ratios */
    #footer-social-icons>li {
        font-size: 150%;
        padding: 3%;
    }

    #footer-music-icons>li {
        font-size: 150%;
        padding: 3%;
    }

}