/* Asterisk wildcard selector to override default styles added by the browser */

* {
    padding: 0;
    margin: 0;
    border: 0px none white;
    box-sizing: border-box;
}

/* General styles */

body {
    background-color: rgb(204, 255, 255);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
}

#logo {
    font-family: 'BioRhyme', serif;
    letter-spacing: 2px;
}

/* header positioned to always be visible */
header {
    background-color: white;
    position: fixed;
    padding: 0 1rem 0;
    z-index: 10;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

header ul {
    list-style: none;
    text-align: left;
}

header ul li {
    letter-spacing: 2px;
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* navbar styles with drop-down toggle */
nav {
    position: absolute;
    background-color: white;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    left: 0px;
    padding: 0 0 0 1rem;
    display: none;
    top: 100%;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

main {
    background-color: yellow;
    /* make the main element take up surplus space in viewport to push the footer element down to the bottom */
    flex: 1 0 auto;
    margin-top: 50px;
}

footer {
    background-color: green;
}